.logo {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.background-top-behind-content {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
