.logo {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
.background-top-behind-content {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.navbar-text-style {
  color: black;
  font-size: 2rem;
  margin-top: 4px;
}
